<html>
    <head>
      <title>Julia's blog</title>
    </head>
    <body>
      <div>
        <h1><a href="">Julia's blog</a></h1>
      </div>

      <div>
        <p>published: 17/04/2016, 18:20</p>
        <h2><a href="">My first post</a></h2>
        <p>I’m so happy that you guys like the music… I’m working on the tour designs now… Wes I have a dream. We will change that. We will rise. We will have a voice.</p>
      </div>

      <div>
        <p>published: 17/04/2016, 18:20</p>
        <h2><a href="">My second post</a></h2>
        <p>Thank you to everybody who made The Life of Pablo the number 1 album in the world!!! Non artist trying to grab the paint brush... I speak truth to power!!! See I invented Kanye</p>
      </div>
    </body>
</html>
